pre {
  white-space: pre-line;
  word-break: break-word;
}

.output {
  .list:hover {
    background: hsla(0, 0%, 100%, .1);
  }

  .btn-remove {
    width: 18px;
    height: 18px;
  }
}

// .builder {
//   /deep/ .v-select.v-select--chips {
//     .v-chip {
//       white-space: nowrap;
//       max-width: 240px;
//       overflow: hidden;
//       text-overflow: ellipsis;

//       // .v-chip__close {
//       //   position: absolute;
//       //   right: 2px;
//       // }
//     }
//   }
// }
