<v-container class="imgur" grid-list-lg fluid>
  <v-layout row>
    <v-toolbar color="teal" dark>
      <tool-btn :active="!draw.active" :active-tool="draw.tool !== null ? draw.tool : ''" tool="crop" icon="crop" @click="setTool">
        <span>Crop <kbd>C</kbd></span>
      </tool-btn>

      <tool-btn :active="!draw.active" :active-tool="draw.tool !== null ? draw.tool : ''" tool="free" icon="brush" @click="setTool">
        <span>Freehand <kbd>H</kbd></span>
      </tool-btn>

      <tool-btn :active="!draw.active" :active-tool="draw.tool !== null ? draw.tool : ''" tool="line" icon="show_chart" @click="setTool">
        <span>Line <kbd>L</kbd></span>
      </tool-btn>

      <tool-btn :active="!draw.active" :active-tool="draw.tool !== null ? draw.tool : ''" tool="rect" icon="crop_square" @click="setTool">
        <span>Rectangle <kbd>R</kbd></span>
      </tool-btn>

      <tool-btn :active="!draw.active" :active-tool="draw.tool !== null ? draw.tool : ''" tool="circ" icon="panorama_fish_eye" @click="setTool">
        <span>Ellipse <kbd>E</kbd></span>
      </tool-btn>

      <v-tooltip bottom :disabled="!draw.active || draw.tool === 'text'">
        <span>Text <kbd>T</kbd></span>

        <v-btn v-if="draw.tool !== 'text'" slot="activator" fab flat small :outline="draw.tool === 'text'" @click="draw.tool = 'text'" :disabled="!draw.active">
          <v-icon>title</v-icon>
        </v-btn>

        <v-menu v-else slot="activator" transition="slide-y-transition" :nudge-left="100" :nudge-bottom="10" :disabled="draw.tool !== 'text'" :close-on-content-click="false" :close-delay="300" min-width="500px" full-width open-on-hover offset-y>
          <v-btn slot="activator" fab flat small outline @click="draw.tool = null">
            <v-icon>title</v-icon>
          </v-btn>
          <v-card dark>
            <v-card-text>

              <v-toolbar class="toolbar-pa-0 mb-3" color="transparent" dense flat>
                <v-tooltip top>
                  <span>Font Weight</span>
                  <v-btn-toggle class="mr-2" slot="activator" v-model="draw.text.font.weight" mandatory>
                    <v-btn class="text-capitalize font-weight-thin" color="teal" :value="100">Aa</v-btn>
                    <v-btn class="text-capitalize font-weight-light" color="teal" :value="300">Aa</v-btn>
                    <v-btn class="text-capitalize font-weight-regular" color="teal" :value="400">Aa</v-btn>
                    <v-btn class="text-capitalize font-weight-meduim" color="teal" :value="500">Aa</v-btn>
                    <v-btn class="text-capitalize font-weight-bold" color="teal" :value="700">Aa</v-btn>
                    <v-btn class="text-capitalize font-weight-black" color="teal" :value="900">Aa</v-btn>
                  </v-btn-toggle>
                </v-tooltip>

                <v-tooltip top>
                  <span>Text Horizontal Alignment</span>
                  <v-btn-toggle class="mr-2" slot="activator" v-model="draw.text.align" mandatory>
                    <v-btn value="left" color="teal">
                      <v-icon>format_align_left</v-icon>
                    </v-btn>
                    <v-btn value="center" color="teal">
                      <v-icon>format_align_center</v-icon>
                    </v-btn>
                    <v-btn value="right" color="teal">
                      <v-icon>format_align_right</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </v-tooltip>

                <v-tooltip top>
                  <span>Text Vertical Alignment</span>
                  <v-btn-toggle class="mr-2" slot="activator" v-model="draw.text.baseline" mandatory>
                      <v-btn value="hanging" color="teal">
                        <v-icon>vertical_align_top</v-icon>
                      </v-btn>
                      <v-btn value="middle" color="teal">
                        <v-icon>vertical_align_center</v-icon>
                      </v-btn>
                      <v-btn value="alphabetic" color="teal">
                        <v-icon>vertical_align_bottom</v-icon>
                      </v-btn>
                  </v-btn-toggle>
                </v-tooltip>

                <v-tooltip top>
                  <span>Italicize</span>
                  <v-btn-toggle slot="activator" v-model="draw.text.font.style" multiple>
                    <v-btn value="italic" color="teal">
                      <v-icon>format_italic</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </v-tooltip>
              </v-toolbar>

              <v-layout class="mb-6" align-center row>
                <v-flex>
                  <v-tooltip top>
                    <span>Font Size</span>
                    <v-slider class="caption mt-0 mb-3" slot="activator" v-model="draw.text.font.size" color="teal" height="1" ticks="always" :tick-labels="['12px', '14px', '16px', '20px', '24px', '34px', '45px', '56px', '112px']" :max="8" hide-details always-dirty></v-slider>
                  </v-tooltip>
                </v-flex>
              </v-layout>

              <v-layout align-center justify-space-between row>
                <v-flex>
                  <v-text-field v-model.trim="draw.text.text" label="Text" color="teal" rows="1" counter="150" @focus="draw.text.field = true" @blur="draw.text.field = false" auto-grow outline clearable></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-menu>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active || draw.history.undo.length <= 1">
        <span>Undo <kbd>Ctrl</kbd> + <kbd>Z</kbd></span>
        <v-btn slot="activator" fab flat small @click="undo" :disabled="!draw.active || draw.history.undo.length <= 1">
          <v-icon>undo</v-icon>
        </v-btn>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active || draw.history.redo.length === 0">
        <span>Redo <kbd>Ctrl</kbd> + <kbd>Y</kbd></span>
        <v-btn slot="activator" fab flat small @click="redo" :disabled="!draw.active || draw.history.redo.length === 0">
          <v-icon>redo</v-icon>
        </v-btn>
      </v-tooltip>

      <v-spacer></v-spacer>

      <v-tooltip bottom :disabled="!draw.active">
        <span>Stroke <kbd>S</kbd></span>
        <color-picker slot="activator" @select="setStrokeColor"  :min-width="150" :nudge-left="75" :nudge-bottom="5"  :disabled="!draw.active" offset-y>
          <v-menu slot="activator" transition="slide-x-reverse-transition" :nudge-left="5" :nudge-top="9" :disabled="!draw.stroke.has" open-on-hover offset-x left>
            <v-btn slot="activator" :color="draw.stroke.color.hex" :disabled="!draw.active" fab small offset-y
              :outline="!draw.stroke.has"
              :dark="parseInt(draw.stroke.color.hex.replace('#', '0x')) < parseInt(0x7FFFFF) / 2"
              :light="parseInt(draw.stroke.color.hex.replace('#', '0x')) >= parseInt(0x7FFFFF) / 2">
              <v-icon>border_style</v-icon>
            </v-btn>
            <v-card dark>
              <v-card-text class="pt-3 pb-0 pl-2 pr-2">
                <v-slider class="stroke-size" v-model="draw.stroke.size" color="teal" label="Size" thumb-label="always" :min="1" :max="30" :height="10" :thumb-size="18" always-dirty></v-slider>
              </v-card-text>
            </v-card>
          </v-menu>
        </color-picker>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active">
        <span>Fill <kbd>F</kbd></span>
        <color-picker slot="activator" @select="setFillColor" :min-width="150" :nudge-left="75" :nudge-bottom="10"  :disabled="!draw.active" offset-y>
          <v-btn slot="activator" :color="draw.fill.color.hex" :disabled="!draw.active" fab small offset-y
            :outline="!draw.fill.has"
            :dark="parseInt(draw.fill.color.hex.replace('#', '0x')) < parseInt(0x7FFFFF) / 2"
            :light="parseInt(draw.fill.color.hex.replace('#', '0x')) >= parseInt(0x7FFFFF) / 2">
            <v-icon>format_color_fill</v-icon>
          </v-btn>
        </color-picker>
      </v-tooltip>

      <v-spacer></v-spacer>

      <v-tooltip bottom :disabled="!draw.active || draw.zoom === 100">
        <span>100% <kbd>=</kbd> / <kbd>0</kbd></span>
        <v-btn slot="activator" @click="draw.zoom = 100" fab flat small :style="{ visibility: draw.zoom !== 100 ? 'visible' : 'hidden' }" :disabled="!draw.active">
          <v-icon>crop_free</v-icon>
        </v-btn>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active || draw.zoom >= 300">
        <span>Zoom In <kbd>+</kbd> / <kbd>I</kbd></span>
        <v-btn slot="activator" @click="draw.zoom += 10" fab flat small :disabled="!draw.active || draw.zoom >= 300">
          <v-icon>zoom_in</v-icon>
        </v-btn>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active || draw.zoom <= 10">
        <span>Zoom Out <kbd>-</kbd> / <kbd>O</kbd></span>
        <v-btn slot="activator" @click="draw.zoom -= 10" fab flat small :disabled="!draw.active || draw.zoom <= 10">
          <v-icon>zoom_out</v-icon>
        </v-btn>
      </v-tooltip>

      <v-spacer></v-spacer>

      <v-tooltip bottom :disabled="!draw.active">
        <span>Restart <kbd>Q</kbd></span>
        <v-btn slot="activator" @click="reset" fab flat small :disabled="!draw.active">
          <v-icon>replay</v-icon>
        </v-btn>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active">
        <span>Upload to Imgur</span>
        <v-btn slot="activator" @click="uploadToImgur" fab flat small :disabled="!draw.active">
          <v-icon>cloud_upload</v-icon>
        </v-btn>
      </v-tooltip>

      <v-tooltip bottom :disabled="!draw.active">
        <span>Save As</span>
        <v-btn slot="activator" @click="saveAs" fab flat small :disabled="!draw.active">
          <v-icon>save</v-icon>
        </v-btn>
      </v-tooltip>
    </v-toolbar>
  </v-layout>

  <v-slide-y-transition>
    <v-layout v-if="!draw.active" class="text-xs-center draw-inactive" align-center row>
      <v-flex xs4 d-flex fill-height>
        <v-card color="deep-orange" dark>
          <v-card-text class="display-3 font-weight-thin text-xs-center">Paste an Image</v-card-text>
          <v-card-text class="title font-weight-light">Paste image data from clipboard to start</v-card-text>
          <v-card-text class="font-weight-light">
            <v-divider></v-divider>
            <v-layout row>
              <v-flex class="text-xs-left">
                <span>Copy Full Screenshot</span>
              </v-flex>
              <v-spacer></v-spacer>
              <v-flex class="text-xs-right">
                <span><kbd>PrtScn</kbd></span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row>
              <v-flex class="text-xs-left">
                <span>Copy Window Screenshot</span>
              </v-flex>
              <v-spacer></v-spacer>
              <v-flex class="text-xs-right">
                <span><kbd>Alt</kbd> + <kbd>PrtScn</kbd></span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row>
              <v-flex class="text-xs-left">
                <span>Paste</span>
              </v-flex>
              <v-spacer></v-spacer>
              <v-flex class="text-xs-right">
                <span><kbd>Ctrl</kbd> + <kbd>V</kbd></span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs4 d-flex fill-height>
        <v-card color="pink" dark>
          <v-card-text class="display-3 font-weight-thin text-xs-center">Start From Scratch</v-card-text>
          <v-card-text class="title font-weight-light">Create a blank canvas to draw on</v-card-text>
          <v-card-text>
            <v-layout row>
              <v-flex>
                <v-select v-model="draw.custom.size" label="Canvas Size" color="pink" :items="['720 x 480', '1024 x 768', '1024 x 1024', '1920 x 1080', '2048 x 2048', 'Custom...']" hide-details solo-inverted></v-select>
              </v-flex>
            </v-layout>

            <v-layout v-if="draw.custom.size === 'Custom...'" row wrap>
              <v-flex xs12 md6>
                <v-text-field v-model="draw.custom.width" type="number" min="1" color="white" label="Width" suffix="px" hide-details></v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <v-text-field v-model="draw.custom.height" type="number" min="1" color="white" label="Height" suffix="px" hide-details></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout justify-center row wrap>
              <v-flex xs12 md6>
                <color-picker @select="setCanvasBackground" offset-x>
                  <v-btn slot="activator" :color="draw.custom.background.color.hex" block
                    :outline="!draw.custom.background.has"
                    :dark="parseInt(draw.custom.background.color.hex.replace('#', '0x')) < parseInt(0x7FFFFF) / 2"
                    :light="parseInt(draw.custom.background.color.hex.replace('#', '0x')) >= parseInt(0x7FFFFF) / 2">
                    <v-icon class="mr-1">format_color_fill</v-icon>Canvas Background
                  </v-btn>
                </color-picker>
              </v-flex>

              <v-flex xs12 md6>
                <v-btn color="pink lighten-1" block @click="createCanvas" :disabled="draw.custom.size === 'Custom...' ? draw.custom.height <= 0 || draw.custom.width <= 0 : draw.custom.size === null">Create Canvas</v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs4 d-flex fill-height>
        <v-card color="purple history-column" dark>
          <v-card-text class="display-3 font-weight-thin text-xs-center">History</v-card-text>
          <v-card-text class="title font-weight-light">You can see your past uploads here
            <v-tooltip max-width="300" :nudge-left="125" bottom>
              <v-icon slot="activator" size="21px">help_outline</v-icon>
              <span>Flexiry stores your uploads to your local computer and you can manage it here!<br>Flexiry only keep 500 uploads for smooth experience.</span>
            </v-tooltip>
          </v-card-text>
          <v-card-text v-if="history.length === 0" class="font-weight-light">Your history is empty. Upload some images!</v-card-text>
          <v-card-text v-else>
            <v-list class="purple lighten-1 elevation-1 history-list" three-lines dark>
              <v-subheader>
                <span>Upload History</span>
                <v-spacer></v-spacer>
                <v-chip color="purple white--text" small disabled>{{ `${history.length} upload${ history.length > 1 ? 's' : '' }` }}</v-chip>
              </v-subheader>

              <v-divider></v-divider>

              <v-scale-transition group mode="out-in">
                <v-list-tile v-for="(item, key) in history" :key="item.id" :href="item.link" target="_blank" avatar>
                  <v-list-tile-avatar>
                    <v-img :src="item.link" class="grey lighten-2" aspect-ratio="1">
                      <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
                        <v-progress-circular indeterminate color="purple lighten-2" size="16"></v-progress-circular>
                      </v-layout>
                    </v-img>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.link }}</v-list-tile-title>
                    <v-list-tile-sub-title>
                      <span>
                        <v-tooltip max-width="300" bottom>
                          <span>Delete image permanently on Imgur server. You cannot undo this action.<br>If you wish to remove this on your history, feel free to click the trash icon to the right.</span>
                          <v-icon slot="activator" class="mr-1" color="purple darken-2" size="15px">warning</v-icon>
                        </v-tooltip>
                        <a class="purple--text text--darken-3" :href="'https://imgur.com/delete/' + item.deletehash" @click.prevent="deletePermanently(item.deletehash, key)">Delete permanently</a>
                      </span>
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-list-tile-action-text class="caption grey--text text--lighten-2">{{ item.datetime | formatDate }}</v-list-tile-action-text>
                    <v-tooltip left>
                      <span>Remove from history</span>
                      <v-btn slot="activator" @click.prevent="removeHistory(key)" small icon>
                        <v-icon size="20">delete</v-icon>
                      </v-btn>
                    </v-tooltip>
                  </v-list-tile-action>
                </v-list-tile>
              </v-scale-transition>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-slide-y-transition>

  <v-layout row>
    <v-flex id="container">
      <canvas id="draw" class="checkered-transparent elevation-3" :class="{ 'canvas-cursor-crosshair': draw.tool === 'crop', 'canvas-cursor-text': draw.tool === 'text' }" @mousedown.left.prevent="startPlot" @mouseup.left.prevent="endPlot" @mousemove="move" @mouseout="endPlot" :style="{zoom: `${draw.zoom}%`}" height="0" width="0"></canvas>
    </v-flex>
  </v-layout>

  <v-dialog v-model="popup.active" width="400" :persistent="popup.persistent">
    <v-card :color="popup.color" dark>
      <v-card-text class="text-xs-center">
        <v-menu v-if="popup.color === 'error darken-1'" :close-on-content-click="false" :max-width="350" :nudge-bottom="25" :nudge-left="150" close-delay="150" open-on-hover>
          <v-icon slot="activator" size="21px">error_outline</v-icon>
          <v-card dark>
            <v-card-text>
              Oops! Sorry about that. This is probably on <a class="white--text" href="https://imgur.com" target="_blank">Imgur</a> server. Click <a class="white--text" href="https://api.imgur.com/errorhandling" target="_blank">here</a> for more info.
            </v-card-text>
            <v-card-text class="pt-0">If you keep on seeing this, contact the developer.</v-card-text>
          </v-card>
        </v-menu>
        {{ popup.note }}
        <v-progress-linear v-if="popup.progress" class="mb-0" color="white" indeterminate></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>

  <upload-dialog :active="draw.uploaded.active" :link="draw.uploaded.link !== null ? draw.uploaded.link : ''" :delete-link="draw.uploaded.deleteLink !== null ? draw.uploaded.deleteLink : ''" :img="draw.uploaded.img !== null ? draw.uploaded.img : ''" @close="draw.uploaded.active = false"></upload-dialog>
</v-container>
