#container {
  overflow: auto;
  max-height: calc(100vh - 200px);
}

#draw {
  display: block;
  margin: auto;
}

.checkered-transparent {
  background-color: #eee;
  background-image: linear-gradient(45deg, #aaa 25%, transparent 25%), linear-gradient(-45deg, #aaa 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #aaa 75%), linear-gradient(-45deg, transparent 75%, #aaa 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-repeat: repeat;
}

.draw-inactive {
  height: calc(100vh - 200px);
}

.slider-value {
  width: 60px;
}

.stroke-size /deep/ .v-input__control {
  height: 25px;
}

.history-list {
  max-height: 50vh;
  overflow-y: auto;
}
